<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/webnotelogo.png">
</head>
<body class="authentication-page">
  <header>
    <nav>
      <div class="container">
        <a href="/" class="logo">
          <img src="/img/webnotelogo.png" alt="WebNote logo" width="15%">
        </a>
        <h1>Logging In</h1>
        <ul class="nav-links"> <!-- these 3 links always show up -->
          <li><a href="/">Home</a></li>
          <li><a href="/users/about">About</a></li>
          <li><a href="/api/inspire">Inspiration</a></li>

          <% if (user) { %> <!-- these only show if user is logged in -->
            <li><a href="/notes">Notes</a></li>
            <li><a href="/notes/list">My Notes</a></li>
            <li><a href="/users/profile">Profile</a></li>
            <li><a href="/users/logout">Logout</a></li>

          <% } else { %> <!-- these only show if user is NOT logged in -->
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>

  <main class="authentication-container">
    <h1 class="app-title">WebNote</h1>

    <div class="authentication-card">
      <h2>Log In</h2>
      <% if (typeof error !== 'undefined' && error) { %>
        <p class="error"><%= error %></p> 
      <% } %>
      <form action="/users/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="form-group">
          <label>Email Address</label>
          <input type="email" name="email" required autocomplete="email">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password"  required minlength="6" autocomplete="current-password">
        </div>
        <button type="submit" class="register-btn">Log In</button>
      </form>

      <p class="authentication-footer">
        Don't have an account?
        <a href="/users/register">Register</a>
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 CS346 Project. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
