<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Notes</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/webnotelogo.png">
</head>
<body>
  <header>
    <h1>Your Saved Notes</h1>
  </header>

  <main class="container">
    <% if(notes.length === 0) { %>
      <p>No notes yet - create one!</p>
    <% } else { %>
      <ul>
        <% notes.forEach(note => { %>
          <li>
            <%= note.title %><br>
            <%= note.content %><br>
            <small><%= new Date(note.created_at) %></small>
          </li>
        <% }) %>
      </ul>
    <% } %>
    <a href="/users/notes">Add New Note</a>
  </main>
</body>
</html>
