<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Notes</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/webnotelogo.png">
</head>
<body>
  <header>
    <h1>Your Saved Notes</h1>
    <nav>
      <div class="container">
        <a href="/" class="logo">
          <img src="/img/webnotelogo.png" alt="WebNote logo" width="15%">
        </a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/users/about">About</a></li>
          <li><a href="/api/inspire">Inspiration</a></li>
          <% if (user) { %>
            <li><a href="/users/profile">Profile</a></li>
            <!-- <li><a href="/users/logout">Logout</a></li> -->
          <% } else { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <% if(notes.length === 0) { %>
      <p>No notes yet - create one!</p>
    <% } else { %>
      <ul>
        <% notes.forEach(note => { %>
          <li>
            <%= note.title %><br>
            <%= note.content %><br>
            <small><%= new Date(note.created_at) %></small>
          </li>
        <% }) %>
      </ul>
    <% } %>
    <a href="/notes">Add New Note</a>
  </main>
  <footer>
    <div class="container">
      <p>&copy; 2025 CS346 Project. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
